{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    div.absolute {
        position: relative;
        top: 80px;
        left:400px;

        width: 400px;
        border: 3px solid #73AD21;
    }
</style>

<div class="example-wrapper">
    <a href="{{ path('fos_user_security_logout') }}">logout</a>

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/malek/Desktop/remember/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/malek/Desktop/remember/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
<div class="absolute">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>


        {% for user in users %}

                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>    {{ include('user/_delete_form.html.twig') }}
                        </td>

                    </tr>


                    {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
