{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="row">
        <button class="btn" id="logout"><a href="{{ path('fos_user_security_logout') }}">{% trans %}logout{% endtrans %}</a></button>

    </div>
        <div class="row">
            <table>
                <tr>
                    <th><a href="{{ path('admin') }}">{% trans %}Users{% endtrans %}</a>
                        &nbsp
                        <a href="{{ path('admin_tasks') }}">{% trans %}Tasks{% endtrans %}</a></th>
                </tr>

            </table>
        </div>

    <div class="row">
        <table class="table">

            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}Username{% endtrans %}</th>
                <th scope="col">email</th>
                <th scope="col">{% trans %}Delete{% endtrans %}</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ include('user/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}
