{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}


<div class="container">
    <div class="row">

        <div class="row">
            <button class="btn" id="logout"><a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a></button>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th><a href="{{ path('admin') }}">{% trans %}Users{% endtrans %}</a>
                        &nbsp
                        <a href="{{ path('admin_tasks') }}">{% trans %}Tasks{% endtrans %}</a></th>

                </tr>

            </table>
            <button type="button" class="btn " id="logout" ><a href="{{ path('admin_task_new') }}">{% trans %}New{% endtrans %}</a></button>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %} Title {% endtrans %}</th>
                    <th scope="col">{% trans %}Description{% endtrans %}</th>
                    <th scope="col">{% trans %}Start hour{% endtrans %}</th>
                    <th scope="col">{% trans %}End hour{% endtrans %}</th>
                    <th scope="col">{% trans %}Created at{% endtrans %}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">action</th>

                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>


                {% for i in tasks %}

                    <tr>
                        <th scope="row">{{ i.task.id }}</th>
                        <td>{{ i.task.title }}</td>
                        <td>{{ i.task.description }}</td>
                        <td>{{ i.task.starthour|date('Y-m-d H:i:s') }}</td>
                        <td>{{ i.task.endhour|date('Y-m-d H:i:s') }}</td>
                        <td>{{ i.task.createdat|date('Y-m-d') }}</td>
                        <td>
                        <th>
                            <button type="button" class="btn "><a
                                        href="{{ path('admin_task_show', {'id': i.task.id}) }}">{% trans %}Show{% endtrans %}</a></button>
                        </th>
                        <th>
                            <button type="button" class="btn "><a
                                        href="{{ path('admin_task_edit', {'id': i.task.id}) }}">{% trans %}Edit{% endtrans %}</a></button>
                        </th>
                        {% set idt = i.task.id %}

                        <th id="l">{{ include('task/_delete_form.html.twig') }}</th>
                        </td>

                    </tr>


                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>
    {% endblock %}
