{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}


<div class="container">
    <div class="row">

        <div class="row">
            <a href="{{ path('fos_user_security_logout') }}">logout</a>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th><a href="{{ path('admin') }}">Users</a>
                        &nbsp
                        <a href="{{ path('adminTasks') }}">Tasks</a></th>

                </tr>

            </table>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col">description</th>
                    <th scope="col">date</th>
                    <th scope="col">start hour</th>
                    <th scope="col">end hour</th>
                    <th scope="col">created at</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">action</th>

                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>

                <td> <button type="button" class="btn "><a href="{{ path('task_new') }}">new</a></button></td>

                {% for task in tasks %}

                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.title }}</a></td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.date|date('Y-m-d') }}</td>
                        <td>{{ task.starthour|date('H:i:s') }}</td>
                        <td>{{ task.endhour|date('H:i:s') }}</td>
                        <td>{{ task.createdat|date('Y-m-d') }}</td>
                        <td>
                        <th>
                            <button type="button" class="btn "><a
                                        href="{{ path('task_show', {'id': task.id}) }}">show</a></button>
                        </th>
                        <th>
                            <button type="button" class="btn "><a
                                        href="{{ path('task_edit', {'id': task.id}) }}">edit</a></button>
                        </th>

                        <th id="l">{{ include('task/_delete_form.html.twig') }}</th>
                        </td>

                    </tr>


                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
