{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}


<div class="container">
    <div class="row">

        <div class="row">
            <button class="btn" id="logout"><a href="{{ path('fos_user_security_logout') }}">{% trans %}logout{% endtrans %}</a></button>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th><a href="{{ path('admin') }}">{% trans %}users{% endtrans %}</a>
                        &nbsp
                        <a href="{{ path('admin_tasks') }}">{% trans %}tasks{% endtrans %}</a></th>

                </tr>

            </table>
            <button type="button" class="btn " id="logout" ><a href="{{ path('admin_task_new') }}">{% trans %}new{% endtrans %}</a></button>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans %}title{% endtrans %}</th>
                    <th scope="col">{% trans %}description{% endtrans %}</th>
                    <th scope="col">{% trans %}start hour{% endtrans %}</th>
                    <th scope="col">{% trans %}end hour{% endtrans %}</th>
                    <th scope="col">{% trans %}created at{% endtrans %}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">action</th>

                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>


                {% for task in tasks %}

                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.starthour|date('Y-m-d H:i:s') }}</td>
                        <td>{{ task.endhour|date('Y-m-d H:i:s') }}</td>
                        <td>{{ task.createdat|date('Y-m-d') }}</td>
                        <td>
                        <th>
                            <button type="button" class="btn "><a
                                        href="{{ path('admin_task_show', {'id': task.id}) }}">{% trans %}show{% endtrans %}</a></button>
                        </th>
                        <th>
                            <button type="button" class="btn "><a
                                        href="{{ path('admin_task_edit', {'id': task.id}) }}">{% trans %}edit{% endtrans %}</a></button>
                        </th>

                        <th id="l">{{ include('task/_delete_form.html.twig') }}</th>
                        </td>

                    </tr>


                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>
    {% endblock %}
