<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="{{ asset('js/index.js') }}"></script>
<script src="{{ asset('js/addTask.js') }}"></script>
<div class="container">
{{ form_start(form) }}
<div class="row">
    <div class="row"> {{ form_row(form.title) }}</div>
    <div class="row"> {{ form_row(form.description) }}</div>
            <div class="row"> {{ form_row(form.startHour) }}</div>
                <div class="row"> {{ form_row(form.endHour) }}</div>



<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div></div>


{% block javascripts %}
{% endblock %}