{% form_theme form 'bootstrap_4_layout.html.twig' %}




<body class="skin-blue">
<div class="wrapper">


    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> <a
                                href="{{ path('fos_user_security_logout') }}" style="font-size: 18px">{% trans %}Logout{% endtrans %}</a></a>
                </li>
            </ol>
        </section>
        <section class="content">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Users{% endtrans %}</h3>

                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                    {{ form_start(form) }}
                                {{ form_row(form.title) }}
                            {{ form_row(form.description) }}
                       {{ form_row(form.startHour) }}
                       {{ form_row(form.endHour) }}



                        <button class="btn">{{ button_label|default('Save') }}</button>
                        {{ form_end(form) }}
                                    </tbody>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </section>
    </div>


</div><!-- ./wrapper -->

{% block javascripts %}
{% endblock %}