{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="row">

                <h1>Task</h1>
            </div>
            <div class="row">

                <table class="table">

                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ task.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'title'|trans }}</th>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Description{% endtrans %}</th>
                        <td>{{ task.description }}</td>
                    </tr>

                    <tr>
                        <th>{% trans %}Start hour{% endtrans %}</th>
                        <td>{{ task.starthour ? task.startHour|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}End hour{% endtrans %}</th>
                        <td>{{ task.endhour ? task.endHour|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Created at{% endtrans %}</th>
                        <td>{{ task.createdat ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <table>

                <th>
                    <button type="button" class="btn "><a href="{{ path('admin_tasks') }}">{% trans %}back to list{% endtrans %}</a></button>
                </th>
                &nbsp
                <th>
                    <button type="button" class="btn "><a href="{{ path('admin_task_edit', {'id': task.id}) }}">{% trans %}edit{% endtrans %}</a></button>
                </th>
                {% set idt = task.id %}

                &nbsp
                <th id="l"> <button type="button" class="btn "><a
                                href="{{ path('admin_task_delete', {'id': idt}) }}">{% trans %}Delete{% endtrans %}</a></button></th></th>
                </td>

                </tr>
            </table>
        </div>
    </div>
{% endblock %}
