{% extends 'BaseAdmin.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
















<body class="skin-blue">
<div class="wrapper">


    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> <a
                                href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a></a>
                </li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">{% trans %}Task{% endtrans %}</h3>

                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>{{ 'title'|trans }}</th>
                                        <th>{% trans %}Description{% endtrans %}</th>
                                        <th>{% trans %}Start hour{% endtrans %}</th>
                                        <th>{% trans %}End hour{% endtrans %}</th>
                                    <th>{% trans %}Created at{% endtrans %}</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ task.id }}</td>
                                            <td>{{ task.title }}</td>
                                            <td>{{ task.description }}</td>
                                            <td>{{ task.starthour ? task.startHour|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ task.endhour ? task.endHour|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ task.createdat ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </section>
    </div>


</div><!-- ./wrapper -->{% endblock %}

{% block javascripts %}
{% endblock %}





