{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="row">

                <h1>{% trans %}Task{% endtrans %}</h1>
            </div>
            <div class="row">

                <table class="table">

                    <tbody>

                    <tr>
                        <th>{% trans %}title{% endtrans %}</th>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}description{% endtrans %}</th>
                        <td>{{ task.description }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}date{% endtrans %}</th>
                        <td>{{ task.date ? task.date|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}start hour{% endtrans %}</th>
                        <td>{{ task.starthour ? task.starthour|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}end hour{% endtrans %}</th>
                        <td>{{ task.endhour ? task.endhour|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}created at{% endtrans %}</th>
                        <td>{{ task.createdat ? task.createdat|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <table>





                {% for i in selectprime %}

                {% if i.task.id == task.id and i.is_creator %}
                <th>
                    <button type="button" class="btn "><a href="{{ path('task_edit', {'id': task.id}) }}">{% trans %}edit{% endtrans %}</a></button>
                </th>
                    &nbsp
                    <th id="l">{{ include('task/_delete_form.html.twig') }}</th>
                    </td>

                    </tr>
                {% endif %}
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}
